.confirm-container {
    text-align: center;
    color: white;
    padding: 2rem;
  }
  
  .confirm-input {
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 10px;
    border: none;
    margin-top: 1rem;
    width: 200px;
  }

.confirm-button {
    margin-top: 1rem;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
  }
  
  .confirm-button:hover {
    background-color: #666;
  }