.verify-page {
    display: flex;
    height: 100%;
    width: 100%;
  }
  
  .verify-left {
    width: 40%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .verify-left h2{
    margin-bottom: .5px;
  }
  
  .verify-right {
    width: 60%;
    background: url('/coolbackgrounds1.png') center/cover no-repeat;
  }

  .verify-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width:400px;
    font-family: 'Inter', sans-serif;
    align-items: stretch;
  }

  .verify-form input{
    color: black;
    padding: .8rem;
    border: none;
    background-color: rgb(227, 225, 225);
    font-size: 15px;
    border-radius: 6px;
    margin-top: 0.5px;
  }

  .verify-form button{
    margin-top: 15px;
    background-color: #1da1f2;
  }

  .verify-form a{
    color: #4a90e2;
  }

  .verify-form a{
    text-decoration: underline;
  }

