
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: white;
  color: white;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden; 
  width: 100%;
}

body {
  background: white; 
  font-family: 'Inter', sans-serif;
  color: #f9f5f5;
  display: flex;              
  justify-content: center;   
  align-items: center;       
}

h1{
  padding: 0;
}

h2{

}

h3{

}
#root {
  width: 100%;
  height: 100%;
}