* {
    box-sizing: border-box;
  }

.header {
    width: 100vw;
    padding: 1rem 2rem;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .right-buttons {
    display: flex;
    gap: 1rem;
  }
  
  .login-btn,
  .signup-btn {
    justify-content: flex-end; /* pushes content to the right */
    padding: .5rem 1rem;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .login-btn {
    background: none;
    color: #333;
  }
  
  .signup-btn {
    background-color: #1da1f2;
    color: white;
  }
  
  .signup-btn:hover {
    background-color: #0d8ddb;
  }

  .search-bar{
    /*outline:*/
    display: center;
    justify-content: flex-start;
    width: 60rem;
    align-items: center;
    border-radius: 8px;
    padding: .5rem;
    border: none;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    background-color: white;
    color: rgb(48, 48, 48);
    outline: 1px solid rgb(48, 48, 48);
  }